.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 600;
  color: rgb(12, 12, 12);
}

paragraph {
  /* padding: 20px 0; */
  margin: 20px;
  margin-bottom: 20px;
}
body {
  padding: 20px;
  margin: 5px;
  font-family: link rel="preconnect" href="https://fonts.gstatic.com"
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet";
  font-size: 16px;
  line-height: 150%;
  color: rgb(10, 10, 10);
}

.header {
  background: #333;
}

h1 {
  padding-top: 30px;
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  margin: 0;
  font-size: 18px;
  color: rgb(10, 10, 10);
  text-align: left;
}

h2 {
  padding: 10px;
  margin: 0;
  margin-bottom: 10px 0;
  font-size: 18px;
  color: rgb(10, 10, 10);
  text-align: left;
}

h3 {
  padding: 10px;
  margin: 0;
  margin-bottom: 10px 0;
  font-size: 16px;
  color: rgb(10, 10, 10);
  text-align: center;
}

a {
  color: #344044;
}

img {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}

/* Selecting elements by class */
container {
  float: left;
  position: absolute;
  left: 5%;
}

#contact-info {
  float: right;
  position: absolute;
  right: 5%;
}

div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
a.navbuttons{
  text-align: left;
  height: 30px;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 30px;
  margin:0px;
  display: inline-block;
  font-size:18px;
  color:white;
  text-decoration: none;

  /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}
.img {
  background-image: url(small.jpg);
  background-image: 
    -webkit-image-set(
      "small.jpg" 1x,
      "medium.jpg" 2x,
    );
  background-image: 
    image-set(
      "small.jpg" 1x,
      "medium.jpg" 2x,
    );
}
@media
  (min-width: 800px) {
  .img {
    background-image: url(large.jpg);
    background-image: 
      -webkit-image-set(
        "large.jpg" 1x,
        "extralarge.jpg" 2x,
      );
    background-image: 
      image-set(
        "large.jpg" 1x,
        "extralarge.jpg" 2x,
      );
  }
}