.box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 600;
  color: rgb(12, 12, 12);
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}

paragraph {
  /* padding: 20px 0; */
  margin: 20px;
  margin-bottom: 20px;
}
body {
  padding: 20px;
  margin: 5px;
  font-family: link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet";
  font-size: 16px;
  line-height: 150%;
  color: rgb(10, 10, 10);
}

.header {
  background: #333;
}

h1 {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 24px;
  padding-left: 0px;
  margin: 0;
  font-size: 22px;
  color: rgb(10, 10, 10);
  text-align: left;
}

h2 {
  padding: 10px;
  margin: 0;
  margin-bottom: 10px 0;
  font-size: 20px;
  color: rgb(10, 10, 10);
  text-align: left;
}

h3 {
  padding: 10px;
  margin: 0;
  margin-bottom: 10px 0;
  font-size: 18px;
  color: rgb(10, 10, 10);
  text-align: center;
}

a {
  color: #344044;
}

img {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}

/* Selecting elements by class */
container {
  float: left;
  position: absolute;
  left: 5%;
}

#contact-info {
  float: right;
  position: absolute;
  right: 5%;
}

div {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
a.navbuttons{
  text-align: center;
  height: 30px;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 30px;
  margin:0px;
  display: inline-block;
  font-size:18px;
  color:white;
  text-decoration: none;
}